h1 {
    color: red;
}

/* nav bar */
.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.nav-title {
    font-family: "Urbanist", sans-serif;
    font-size: 2rem;
    font-style: thin;
}

/* hero section */
.img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;

}

.hero-img {
    max-height: 120vh;
    object-fit: cover;
    display: flex;
    border-radius: 30px;
}